/* @Autor - PedroLins*/

body {
  background: url(imagens/capa.png),
    url(imagens/ruido.png),
    linear-gradient(50deg, #ff5169, #7c26f8);
  background-attachment: fixed;
}

section:first-of-type {
    padding-top: 100px;
}

.navbar-custom .nav-link {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.navbar-custom .nav-link:hover {
  color: #7c25f8;
  transform: scale(1.02);
}

.navbar-custom .navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem #ffffff80;
}

a {
  text-decoration: none;
}

.btn-custom {
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.btn-roxo {
  background-color: #2596f8;
  font-weight:bold;
}

.btn-premium{
  background-color: #9bf0e1;
  color:#484848;
}

.btn-premium:hover{
  background: none;
  border-color: #9bf0e1;
  color: white;
}

.btn-roxo:hover {
  color: #fff;
  border-color: #fff;
  background: none;
}

.btn-branco {
  background-color: #fff;
  color: #7c25f8;
  font-weight: bold;
}

.btn-branco:hover{
  background: none;
  color: #fff;
}

h1.destacar{
  font-size:clamp(3rem, 10vw ,6rem);
  font-weight: 380;
}

.lr{
  color: #9bf0e1;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rotacao{
  transform: rotate(30deg);
  padding-left: 80px;
}

.ft{
  color: #b4b3b3;
}